<div class="container">
    {{#each hireme}}
    <div class="block block-{{id}} row">
        <div class="col-md-6 header-space-{{id}}">
            <h1 class="header-text">{{header}}</h1>
        </div>
        <div class='col-md-6 info-space-{{id}}'>
            <p>{{text}}</p>
        </div>
    </div>
    {{/each}}
</div>
<div class="container-fluid block-banner">
    <a class="link-to-contact" href="/about#contact">READY TO START? CLICK HERE</a>
</div>