<div class="container">
    {{#each hireme}}
    <div class="block block-{{id}} row">
        <div class="col-md-6 header-space-{{id}}">
            <h1 class="header-text">{{header}}</h1>
        </div>
        <div class='col-md-6 info-space-{{id}}'>
            <p>{{text}}</p>
        </div>
    </div>
    {{/each}} 
</div>