<div class="image-banner">
    <div class="text-border">
        <h1 class="banner-name">MARK ALANIZ</h1>
        <p class="banner-dev">FULL-STACK WEB DEVELOPER</p>
    </div>
</div>
<div class="container projects">
    {{#each projects}}
    <div class="row">
        <div class="col">
            <div class="container-p1">
                <div class="text-p2">
                    <h1>{{name}}</h1>
                    <p>{{description}}</p>
                </div>
                <a href={{link}} target="_blank">
                    <img src={{image}} alt="Screen shot of {{title}}" class="p1-img">
                    <div class="overlay-p1">
                        <div class="text-p1">
                            <h1>{{name}}</h1>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<!-- Footer -->
<footer class="py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="m-0 text-black my-copy">&copy; 2018 Mark Alaniz</p>
            </div>
            <div class="col icons">
                <a href="https://twitter.com/Digaduga" target="_blank">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/Digald" target="_blank">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://codepen.io/Digaldo/" target="_blank">
                    <i class="fa fa-codepen fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/markalaniz/" target="_blank">
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>