<div class="image-banner">
    <div class="text-border">
        <h1 class="banner-name">MARK ALANIZ</h1>
        <p class="banner-dev">FULL-STACK WEB DEVELOPER</p>
    </div>
</div>
<div class="container projects">
    {{#each projects}}
    <div class="row">
        <div class="col">
            <div class="container-p1">
                <div class="text-p2">
                    <h1>{{name}}</h1>
                    <p>{{description}}</p>
                </div>
                <a href={{link}} target="_blank">
                    <img src={{image}} alt="Screen shot of {{title}}" class="p1-img">
                    <div class="overlay-p1">
                        <div class="text-p1">
                            <h1>{{name}}</h1>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {{/each}}
</div>